# Node modules
node_modules

# Logs
logs
*.log

# Build outputs
dist
!frontend/dist

# Env files
.env

# Ignore everything in prisma except schema
prisma/*
!prisma/schema.prisma

# ✅ Allow committing SQLite database file
dev.db